<div class="tab content" data-group="primary" data-tab="content">
    <h3 class="form-header">{{localize 'DND35E.ItemContainerDetails'}}</h3>
    <div class="form-group">
        <label>{{localize "DND35E.View"}}</label>
        <select name="data.content.view">
            {{#select data.capacity.type}}
                {{#each config.view as |name key]}}
                    <option value="{{key}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
        {{#if hasGridView}}
        <div class="gridview">
            {{#each data.content.elements as |elememt id|}}
            <div  class="griditem">

            </div>
            {{/each}}
            <div class="griditem create">
                
            </div>
        </div>
        {{/if}}
    </div>
</div>