<div class="tab content" data-group="primary" data-tab="content">
    <h3 class="form-header">{{localize 'DND35E.ItemContainerDetails'}}</h3>
    <div class="form-group">
        {{log .}}
        <label>{{localize "DND35E.View"}}</label>
        <select name="data.content.view">
            {{#select data.content.view}}
                {{#each config.view as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    {{#if hasGridView}}
    <div class="gridview dnd-area">
        {{#each data.content.elements as |item id| }}
        <span title="{{item.name}}">
            <div data-item-id={{id}} class="griditem view-item">
                <img src={{item.img}}>
            </div>
        </span>
        {{/each}}
        <div class="griditem add-item">
            <i class="fas fa-plus-square fa-2x"></i>
        </div>
    </div>
    {{/if}}

</div>