<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{localize (lookup config.equipmentTypes data.type) }}
                </li>
                <li>
                    <input type="text" name="data.enhancement" value="{{numberFormat data.enhancement decimals=0 sign=true}}" placeholder="{{localize 'DND35E.EnhancementBonus'}}">
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{localize 'DND35E.Source'}}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND35E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND35E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/dnd35e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{localize 'DND35E.ArmorDetails'}}</h3>

            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>{{localize 'DND35E.ArmorType'}}</label>
                <select name="data.type">
                    {{#select data.type}}
                    <option value=""></option>
                    {{#each config.armorTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Equipment Status --}}
            <div class="form-group stacked">
                <label>{{localize 'DND35E.EquipmentStatus'}}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.proficient" {{checked data.proficient}}/> {{localize 'DND35E.Proficient'}}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{localize 'DND35E.Equipped'}}
                </label>
            </div>

            {{!-- Armor Class --}}
            <div class="form-group">
                <label>{{localize 'DND35E.ArmorClass'}}</label>
                <div class="form-fields">
                   <input type="text" name="data.value" value="{{numberFormat data.value decimals=0 sign=true}}" data-dtype="Number"/>
                </div>
            </div>

            {{!-- Dexterity Modifier --}}
            <div class="form-group">
                <label>{{localize 'DND35E.ArmorMaxDexModifier'}}</label>
                <div class="form-fields">
                   <input type="text" name="data.maxDex" value="{{numberFormat data.maxDex decimals=0 sign=true}}" data-dtype="Number">
                </div>
            </div>

            {{!-- Armor Check Penality --}}
            <div class="form-group">
                <label>{{localize 'DND35E.ArmorPenality'}}</label>
                <input type="text" name="data.penality" value="{{numberFormat data.enhancement decimals=0 sign=true}}">
            </div>
        </div>
    </section>
</form>
