<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{localize labels.school}}
                </li>
                <li></li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND35E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND35E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/dnd35e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">Spell Details</h3>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>{{localize "DND35E.SpellSchool"}}</label>
                <select name="data.school">
                    {{#select data.school}}
                    {{#each config.spellSchools as |name sch|}}
                    <option value="{{sch}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell Components --}}
            <div class="spell-components form-group stacked">
                <label>  {{ localize "DND35E.SpellComponents"}}</label>
                {{#each config.spellComponents as | name id |}}
                <label class="checkbox">
                    <input type="checkbox" name="data.components.{{id}}" {{checked (lookup ../data.components [id])}}/> {{localize name}}
                </label>
                {{/each}}
           
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>{{ localize "DND35E.SpellMaterials"}}</label>
                <input class="materials" type="text" name="data.materials.value" value="{{data.materials.value}}"/>
                {{#if data.materials.value}}
                <div class="spell-materials flexrow">
                    <label>Supply</label>
                    <input type="text" name="data.materials.supply" value="{{data.materials.supply}}" data-dtype="Number" Placeholder="0"/>
                    <label>Cost (GP)</label>
                    <input type="text" name="data.materials.cost" value="{{data.materials.cost}}" data-dtype="Number" Placeholder="-"/>
                    <label>Consumed</label>
                    <input type="checkbox" name="data.materials.consumed" {{checked data.materials.consumed}}/>
                </div>
                {{/if}}
            </div>

            <h3 class="form-header">Spellcasting</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/dnd35e/templates/items/spell/spell-activation.html"}}


        </div>
    </section>
</form>
