{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>Activation Time</label>
    <div class="form-fields">
        <input type="text" name="data.activation.cost" value="{{data.activation.cost}}" data-dtype="Number" placeholder="-"/>
        <select name="data.activation.type">
            {{#select data.activation.type}}
            <option value=""></option>
            {{#each config.abilityActivationTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{#if data.activation.type}}


{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>Range</label>
    <div class="form-fields">
        <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="Number" placeholder="Normal"/>
        <span class="sep">/</span>
        <input type="text" name="data.range.long" value="{{data.range.long}}" data-dtype="Number" placeholder="Max"/>
        <select name="data.range.units">
            {{#select data.range.units}}
            <option value=""></option>
            {{#each config.distanceUnits as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>Duration</label>
    <div class="form-fields">
        <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="Number" placeholder="-"/>
        <select name="data.duration.units">
            {{#select data.duration.units}}
            <option value=""></option>
            {{#each config.timePeriods as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{/if}}