<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{localize (lookup config.weaponTypes [data.weaponType]) }}
                </li>

                <li>
                    <input type="text" name="data.enhancement" value="{{numberFormat data.enhancement decimals=0 sign=true}}" placeholder="{{localize 'DND35E.EnhancementBonus'}}">
                </li>

                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{localize 'DND35E.Source'}}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND35E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND35E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/dnd35e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{localize 'DND35E.WeaponDetails'}}</h3>

            {{!-- Weapon Category --}}
            <div class="form-group">
                <label>{{localize 'DND35E.WeaponCategory'}}</label>
                <select name="data.size">
                    {{#select data.size}}
                    {{#each config.sizes as |name size|}}
                    <option value="{{size}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <select name="data.weaponType">
                    {{#select data.weaponCategory}}
                    {{#each config.weaponCategories as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a class="weapon-control add-type"><i class="fas fa-plus"></i></a>
            </div>

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{localize 'DND35E.WeaponType'}}</label>
                <select name="data.damageType.type1">
                    {{#select data.damageType.type1}}
                    {{#each config.weaponTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Equipment Status --}}
            <div class="form-group stacked">
                <label>{{localize 'DND35E.EquipementStatus'}}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.proficient" {{checked data.proficient}}/> {{localize 'DND35E.Proficient'}}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{localize 'DND35E.Equipped'}}
                </label>
            </div>

            {{!-- Weapon Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>{{localize 'DND35E.WeaponProperties'}}</label>
                {{#each config.weaponProperties as |name prop|}}
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.{{prop}}.value" {{checked (lookup (lookup ../data.properties prop) 'value')}}/> {{ localize name }}
                </label>
                {{/each}}
            </div>

            <h3 class="form-header">{{localize 'DND35E.WeaponAttack'}}</h3>

            {{!-- Weapon Action Template --}}
            {{> "systems/dnd35e/templates/items/weapon/weapon-action.html"}}
        </div>
    </section>
</form>
