{{!-- Ability Modifier --}}
<div class="form-group">
    <label>{{localize 'DND35E.AbilityModifier'}}</label>
    <div>{{localize (lookup config.abilities [data.ability])}}</div>
</div>

{{!-- Attack Roll Bonus --}}
<div class="form-group">
    <label>Attack Roll Bonus</label>
    <div class="form-fields">
        <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" data-dtype="Number"/>
    </div>
</div>

{{!-- Damage Formula --}}
<h4 class="damage-header">
    {{localize 'DND35E.DamageFormula'}}
    <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts form-group">
    <li class="damage-part flexrow">
        <input type="text" name="data.damageFormula" value="{{data.damageFormula}}">
        <input readonly>{{localize (lookup config.weaponTypes [data.damageType.type1])}}</input>
    </li>
    {{#each data.damage.parts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
        <input type="text" name="data.extraDamage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
        <select name="data.extraDamage.parts.{{i}}.1">
            {{#select (lookup this "1") }}
            <option value="">{{localize 'DND35E.None'}}</option>
            {{#each ../config.damageTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
</ol>

{{!-- Chat Message Flavor --}}
<div class="form-group stacked">
    <label>{{localize 'DND.ChatMessageFlavor'}}</label>
    <input type="text" name="data.chatFlavor" value="{{data.chatFlavor}}"/>
</div>